.DS_Store
*.retry
*.swp
*.egg-info/
*.py[cod]
.bundle/
.cache/
.coverage
.coverage.*
.eggs/
.molecule/
.tox/
.vagrant/
doc/build/
htmlcov/
ubuntu-xenial-16.04-cloudimg-console.log
pytestdebug.log
.python-version
roles/
.galaxy_install_info
